<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a routerLink="/category/1" routerLinkActive="active-link">Free Kindergarten</a>
        </li>
        <li>
          <a routerLink="/category/2" routerLinkActive="active-link">Premium Kindergarten</a>
        </li>
        <li>
          <a routerLink="/category/3" routerLinkActive="active-link">Gold Kindergarten</a>
        </li>
         
      </ul>
    </nav>
  </div>